:root {
  --darkCyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --vdarkBlue: hsl(212, 21%, 14%);
  --darkgrayBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

title {
}

body {
}

#product {
  width: 100%;
}

#textContainer {
  display: flex;
  flex-direction: column;
}

#productType {
}

#name {
}

#desc {
}

#price {
}

/* Desktop View */
/* @media screen and (max-width: 1440px) {
} */
/* Mobile View */
/* @media screen and (max-width: 550px) {
} */

@media screen and (min-width: 375px) {
  #textContainer {
    flex-direction: row;
  }
}
