:root{
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --vdarkBlue: hsl(212, 21%, 14%);
    --darkgrayBlue:hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}
/* Desktop View */
@media screen and (min-width: 1440px){
    
}
/* Mobile View */
@media  and (min-width: 375px) {
    
}